
<h3>Your Friend Requests</h3>

<div>
  <% @invitations.each do |invitation| %>
    <div>
      <div>
        <%= link_to invitation.sender.name, user_path(invitation.sender) %>
      </div>
      <div>
        <%= link_to delete_friend_request_path(invitation),
                    method: :delete,
                    data: { confirm: "Delete #{invitation.sender.name}'s friend request?" } do %>
          <i>reject</i>
        <% end %>
        <%= link_to confirm_friend_request_path(invitation),
                    method: :post do %>
          <i>accept</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>