
<h3>Friend Requests</h3>

<div>
  <% @invitations.each do |invitation| %>
    <div>
      <div>
        <%= link_to invitation.requester.name, user_path(invitation.requester) %>
      </div>
      <div>
        <%= link_to delete_friend_request_path(invitation),
                    method: :delete,
                    class: 'delete-request',
                    data: { confirm: "Delete #{invitation.requester.name}'s friend request?" } do %>
          
        <% end %>
        <%= link_to confirm_friend_request_path(invitation),
                    method: :post,
                    class: 'confirm-request' do %>
          <i></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>