<div class='container'>
  <h3>Your Friend Requests</h3>

  <div>
    <% if @invitations.empty? %>
      You have no friend requests right now!
    <% else %>
      <% @invitations.each do |invitation| %>
        <div class="card mb-2" style="width: 22rem;">
          <div class="card-body">
            <h4 class="card-title">
              You have a friend request from:
              <%= invitation.sender.username %>
              <%= link_to invitation.sender.email, user_path(invitation.sender) %>
            </h4>
            <div>
              <div class="d-inline-flex p-2">
                <%= button_to confirm_friend_request_path(invitation),
                            class: 'btn btn-success mb-2 mr-2',
                            method: :post do %>
                  <i>accept</i>
                <% end %>

                <%= button_to delete_friend_request_path(invitation),
                            method: :delete,
                            class: 'btn btn-danger mb-2',
                            data: { confirm: "Delete #{invitation.sender.name}'s friend request?" } do %>
                  <i>reject</i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>