<%= link_to "Add a post", new_post_path, class: 'btn btn-outline-dark mb-4' %>

<% if @posts.length > 0 %>
    <h1>All your posts are listed below:</h1>
    <%= render 'posts', posts: @posts %>
<% else %>
    <h2>There are no posts available to show now!</h2>
<% end %>