<div class="container mt-4 text-center">
  <br>
  <p>Created by <strong>Thao Nguyen</strong> as part of the Odin Project <%=
    %>. View on <%=
    link_to 'Github', 'https://github.com/ntphuongthao/Facebook' %>.</p>
</div>